<%= form_for @micropost, :html => {:multipart => true } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
  </div>
  <div>
  <%= f.label :photo, "Share a pic" %> 
  <%= f.file_field :photo %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
